<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      th:replace="~{layouts/main-layout :: layout(~{::content}, ${formTitle})}">

<body>

  <div th:fragment="content">
    <h1 th:text="${formTitle}">Form Title</h1>

    <form th:action="@{/teams/save}" th:object="${team}" method="POST">
      <!-- Keep the ID to know which record to update -->
      <input type="hidden" th:field="*{id}" />

      <input type="hidden" th:field="*{version}" />

      <div>
        <label for="name">Team Name:</label>
        <input type="text" id="name" th:field="*{name}" required />
      </div>
      <div>
        <label for="city">City:</label>
        <input type="text" id="city" th:field="*{city}" required />
      </div>
      <div>
        <label for="arena">Arena:</label>
        <input type="text" id="arena" th:field="*{arena}" />
      </div>
      <div>
        <label>Is Active:</label>
        <select th:field="*{isActive}">
          <option value="Y">Yes</option>
          <option value="N">No</option>
        </select>
      </div>

      <br/>
      <button type="submit">Save Team</button>
      <a th:href="@{/teams}">Cancel</a>
    </form>
  </div>

</body>
</html>