<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      th:fragment="layout (content, pageTitle)" lang="pl">
<head>
  <title th:text="${pageTitle}">My App</title>
  <style>
    table td, table th {
      padding: 8px 15px;
      vertical-align: middle;
      text-align: left;
    }
    table td:last-child, table th:last-child {
      text-align: center;
    }
  </style>
</head>
<body>
  <div th:replace="~{fragments/header :: header}"></div>

  <div th:replace="${content}"></div>

  <div th:replace="~{fragments/footer :: footer}"></div>
</body>
</html>