<hibernate-configuration>
    <session-factory>
        <property name="hibernate.connection.driver_class">oracle.jdbc.OracleDriver</property>
        <property name="hibernate.connection.url">jdbc:oracle:thin:@dbmanage.lab.ii.agh.edu.pl:1521:DBMANAGE</property>
        <property name="hibernate.connection.username">BD_421743</property>
        <property name="hibernate.connection.password">A5D5S!</property>

        <property name="hibernate.show_sql">true</property>
        <property name="hibernate.format_sql">true</property>
        <property name="hibernate.hbm2ddl.auto">update</property>

        <mapping class="entity.Team"/>
        <mapping class="entity.Season"/>
        <mapping class="entity.Player"/>
        <mapping class="entity.PlayerTeam"/>
        <mapping class="entity.TeamRecord"/>
        <mapping class="entity.Game"/>
        <mapping class="entity.GameStats"/>
    </session-factory>
</hibernate-configuration>