<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      th:replace="~{layouts/main-layout :: layout(~{::content}, ${player.firstName} + ' ' + ${player.lastName} + ' Career')}">
<body>
  <div th:fragment="content">
    <h1 th:text="'Career of ' + ${player.firstName} + ' ' + ${player.lastName}">Career</h1>
    <table class="table table-striped">
      <thead>
      <tr>
        <th>Season</th>
        <th>Team</th>
        <th>Jersey Number</th>
        <th>Start Date</th>
        <th>End Date</th>
      </tr>
      </thead>
      <tbody>
        <tr th:if="${#lists.isEmpty(player.playerTeams)}"><td colspan="5">No Career History Found</td></tr>
        <tr th:each="pt : ${player.playerTeams}">
          <td th:text="${seasonMap[pt.seasonId]?.seasonYear}">2024</td>
          <td th:text="${pt.team.name}">Team Name</td>
          <td th:text="${pt.jerseyNumber}">00</td>
          <td th:text="${pt.startDate}">2024-10-01</td>
          <td th:text="${pt.endDate != null ? pt.endDate : 'Present'}">Present</td>
        </tr>
      </tbody>
    </table>
    <a th:href="@{/players}" class="btn btn-secondary mt-3">Back to Players</a>
  </div>
</body>
</html>