<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      th:replace="~{layouts/main-layout :: layout(~{::content}, 'All Players')}">

<body>

<div th:fragment="content">
    <h1>Player Management</h1>
    <p>
        <a th:href="@{/players/new}">Add New Player</a>
    </p>

    <table border="1">
        <thead>
        <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Birthdate</th>
            <th>Position</th>
            <th>Team</th>
            <th>Active</th>
            <th>Career</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr th:if="${#lists.isEmpty(players)}">
            <td colspan="8">No Players Found</td>
        </tr>
        <tr th:each="player : ${players}">
            <td th:text="${player.firstName}">LeBron</td>
            <td th:text="${player.lastName}">James</td>
            <td th:text="${player.birthDate}">1984-12-30</td>
            <td th:text="${player.position}">SF</td>
            <td th:text="${player.team?.name}">Lakers</td>
            <td th:text="${player.isActive == 'Y' ? 'Yes' : 'No'}">Yes</td>
            <td><a th:href="@{'/players/' + ${player.id} + '/career'}">Przejdź</a></td>
            <td>
                <a th:href="@{/players/edit/{id}(id=${player.id})}">Update</a>
                <a th:href="@{/players/delete/{id}(id=${player.id})}">Delete</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>

</body>
</html>